# Assignment \#2
## Kevin McManus, student id: 109702479

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

This notebook creates two Python objects: a Star and an Information object.  There is a section in the notebook below for each object, showing the class definition and then demonstrating its function.

## List of Favorite Stars

Some stars that we'll workwith below.

In [2]:
# my favorite stars (source:https://en.wikipedia.org/wiki/<starname> )

favs = pd.DataFrame([
    ['Mintaka', '05:32:00.4009', '-00:17:56.7424', 380, 24, 29500, 16.5],
    ['Aldebaran', '04:35:55.23907', '16:30:33.4885', 20, 1.16, 3900, 45.1],
    ['Rigel', '05:14:32.27210', '-08:12:05.8981', 264, 21, 12100, 78.9],
    ['Algol', '03:08:10.13245', '40:57:20.3280', 28, 3.17, 13000, 2.73]
    ]  
    , columns = ['StarName', 'ra', 'dec', 'distance', 'mass', 'teff', 'radius']).set_index('StarName')

favs

                       ra             dec  distance   mass   teff  radius
StarName
Mintaka     05:32:00.4009  -00:17:56.7424       380  24.00  29500   16.50
Aldebaran  04:35:55.23907   16:30:33.4885        20   1.16   3900   45.10
Rigel      05:14:32.27210  -08:12:05.8981       264  21.00  12100   78.90
Algol      03:08:10.13245   40:57:20.3280        28   3.17  13000    2.73

## Star Object

### Class Definition of Star Object

In [3]:
class Star():
    # required star properties the Star object keeps track of
    _starprops = ['ra','dec','distance','radius','mass','teff']
    
    def __init__(self, name, **kwargs):       
        self.name = name # required
        
        #required properties; will bomb if property not supplied
        for prop in Star._starprops:
            setattr(self, prop, kwargs.pop(prop))
       
    def __repr__(self):
        str = f'Star object: name: {self.name}'
        for prop in Star._starprops:
            v = getattr(self, prop, None)
            if v is not None:
                str += f', {prop}: {v}'            
        return str
    
    def to_dict(self):
        d = dict([(prop,getattr(self,prop,None)) for prop in ['name']+Star._starprops])
        return d

## Demonstration of Star Object

In [4]:
# create an instance of a star
# this fails because not all required properties are supplied

s1 = Star(name='Mintaka')
s1

KeyError: 'ra'

In [5]:
# star object with all required properties
# This succeeds because all of the required properties are supplied
mintaka = Star('Mintaka', ra='05:32:00.4009', dec='-00:17:56.7424',
            distance=380, mass= 24, teff=29500, radius=16.5)
mintaka

Star object: name: Mintaka, ra: 05:32:00.4009, dec: -00:17:56.7424, distance: 380, radius: 16.5, mass: 24, teff: 29500

In [6]:
#Another Star instance
aldebaran = Star(name='Aldebaran', ra='04:35:55.23907', dec='16:30:33.4885',
    distance=20, mass=1.16, teff=3900, radius=45.10)
aldebaran

Star object: name: Aldebaran, ra: 04:35:55.23907, dec: 16:30:33.4885, distance: 20, radius: 45.1, mass: 1.16, teff: 3900

In [7]:
#print something interesting about Aldebaran
print(f'Aldebaran mass: {aldebaran.mass} solar masses')

Aldebaran mass: 1.16 solar masses

In [8]:
#like working with dicts?
#handy function to turn a Star into a dict
mintaka_dict = mintaka.to_dict()
mintaka_dict

{'name': 'Mintaka',
 'ra': '05:32:00.4009',
 'dec': '-00:17:56.7424',
 'distance': 380,
 'radius': 16.5,
 'mass': 24,
 'teff': 29500}

## Information Object

## Class Definition

In [9]:
class Information():
    def __init__(self):
        self.SourceList = []
    def __repr__(self):
        return f'Information Object; Source Names: {self.SourceNames()}'
    def __len__(self):
        return len(self.SourceList)

    def SourceNames(self):
        str = [s.name for s in self.SourceList]
        return str

    def LoadStars(self, starslist=None):
        #load up 4 dummy stars
        self.SourceList = [
                Star(name='Mintaka', ra='05:32:00.4009', dec='-00:17:56.7424', distance=380, mass=24.0, teff=29500, radius=16.5),
                Star(name='Aldebaran', ra='04:35:55.23907', dec='16:30:33.4885', distance=20, mass=1.16, teff=3900, radius=45.1),
                Star(name='Rigel', ra='05:14:32.27210', dec='-08:12:05.8981', distance=264, mass=21.0, teff=12100, radius=78.9),
                Star(name='Algol', ra='03:08:10.13245', dec='40:57:20.3280', distance=28, mass=3.17, teff=13000, radius=2.73),
        ]
        #return a dict of stars so loaded
        d = dict([(s.name, s) for s in self.SourceList])
        return d

### Demonstration of Information Object

In [10]:
#create instance of information object
inf = Information()
inf

Information Object; Source Names: []

In [11]:
#load up some info about 4 stars
sl = inf.LoadStars()
sl

{'Mintaka': Star object: name: Mintaka, ra: 05:32:00.4009, dec: -00:17:56.7424, distance: 380, radius: 16.5, mass: 24.0, teff: 29500,
 'Aldebaran': Star object: name: Aldebaran, ra: 04:35:55.23907, dec: 16:30:33.4885, distance: 20, radius: 45.1, mass: 1.16, teff: 3900,
 'Rigel': Star object: name: Rigel, ra: 05:14:32.27210, dec: -08:12:05.8981, distance: 264, radius: 78.9, mass: 21.0, teff: 12100,
 'Algol': Star object: name: Algol, ra: 03:08:10.13245, dec: 40:57:20.3280, distance: 28, radius: 2.73, mass: 3.17, teff: 13000}

In [12]:
#what are the object types?
type(sl), type(sl['Mintaka'])

(dict, __main__.Star)

In [13]:
#look at the Mintaka object within s1, it's a Star object
sl['Mintaka']

Star object: name: Mintaka, ra: 05:32:00.4009, dec: -00:17:56.7424, distance: 380, radius: 16.5, mass: 24.0, teff: 29500

In [14]:
#extract one of the properties
sl['Mintaka'].mass

24.0

In [15]:
#for which stars do we have info?
inf.SourceNames()

['Mintaka', 'Aldebaran', 'Rigel', 'Algol']

In [16]:
#how many stars do we have?
len(inf)

4