# Assignment \#2
## Kevin McManus, student id: 109702479

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## List of Favorite Stars

In [2]:
# my favorite stars (source:https://en.wikipedia.org/wiki/<starname> )

favs = pd.DataFrame([
    ['Mintaka', '05:32:00.4009', '-00:17:56.7424', 380, 24, 29500, 16.5],
    ['Aldebaran', '04:35:55.23907', '16:30:33.4885', 20, 1.16, 3900, 45.1],
    ['Rigel', '05:14:32.27210', '-08:12:05.8981', 264, 21, 12100, 78.9],
    ['Algol', '03:08:10.13245', '40:57:20.3280', 28, 3.17, 13000, 2.73]
    ]  
    , columns = ['StarName', 'ra', 'dec', 'distance', 'mass', 'teff', 'radius']).set_index('StarName')

favs

                       ra             dec  distance   mass   teff  radius
StarName
Mintaka     05:32:00.4009  -00:17:56.7424       380  24.00  29500   16.50
Aldebaran  04:35:55.23907   16:30:33.4885        20   1.16   3900   45.10
Rigel      05:14:32.27210  -08:12:05.8981       264  21.00  12100   78.90
Algol      03:08:10.13245   40:57:20.3280        28   3.17  13000    2.73

The code below generates text that is inserted into Information.Loadstars method. These are the hard-coded stars that the loadstars method loads (for now).

In [3]:
# build strings to load stars in Info.loadstars()

def stringify(x):
    if type(x) is str:
        return f'\'{x}\''
    else:
        return str(x)

favs_dict = favs.to_dict(orient='index')
for f in favs_dict:
    s_str=f'name=\'{f}\', '
    sdict = favs_dict[f]
    s_str += ', '.join([attr+'='+stringify(sdict[attr]) for attr in sdict])
    s_str = f'star({s_str}),'
    print(s_str)

star(name='Mintaka', ra='05:32:00.4009', dec='-00:17:56.7424', distance=380, mass=24.0, teff=29500, radius=16.5),
star(name='Aldebaran', ra='04:35:55.23907', dec='16:30:33.4885', distance=20, mass=1.16, teff=3900, radius=45.1),
star(name='Rigel', ra='05:14:32.27210', dec='-08:12:05.8981', distance=264, mass=21.0, teff=12100, radius=78.9),
star(name='Algol', ra='03:08:10.13245', dec='40:57:20.3280', distance=28, mass=3.17, teff=13000, radius=2.73),

## Demonstration of Star Object

In [4]:
from McManus_2 import star as st

In [5]:
# create an instance of a star
# Only name is required, other star properties (ra, dec, distance, mass, radius, teff) optional
s1 = st('Mintaka')
s1

Star object: name: Mintaka

In [6]:
#instance with only name and coordinates
s1 = st('Mintaka', ra='05:32:00.4009', dec='-00:17:56.7424')
s1

Star object: name: Mintaka, ra: 05:32:00.4009, dec: -00:17:56.7424

In [7]:
#create an instance, this time with all the goodies
s1 = st(name='Mintaka', ra='05:32:00.4009', dec='-00:17:56.7424', distance=380, mass=24.0, teff=29500, radius=16.5)
s1

Star object: name: Mintaka, ra: 05:32:00.4009, dec: -00:17:56.7424, distance: 380, radius: 16.5, mass: 24.0, teff: 29500

In [8]:
#create instances for each of the favorites
for s in favs.index:
    print (st(s,**favs.loc[s]))

Star object: name: Mintaka, ra: 05:32:00.4009, dec: -00:17:56.7424, distance: 380, radius: 16.5, mass: 24.0, teff: 29500
Star object: name: Aldebaran, ra: 04:35:55.23907, dec: 16:30:33.4885, distance: 20, radius: 45.1, mass: 1.16, teff: 3900
Star object: name: Rigel, ra: 05:14:32.27210, dec: -08:12:05.8981, distance: 264, radius: 78.9, mass: 21.0, teff: 12100
Star object: name: Algol, ra: 03:08:10.13245, dec: 40:57:20.3280, distance: 28, radius: 2.73, mass: 3.17, teff: 13000

In [9]:
#create a mintaka instance from the info that's in the favorites table
mintaka = st('Mintaka', **favs.loc['Mintaka'])
mintaka

Star object: name: Mintaka, ra: 05:32:00.4009, dec: -00:17:56.7424, distance: 380, radius: 16.5, mass: 24.0, teff: 29500

In [10]:
#like working with dicts?
#handy function to turn a star into a dict
mintaka_dict = mintaka.to_dict()
mintaka_dict

{'name': 'Mintaka',
 'ra': '05:32:00.4009',
 'dec': '-00:17:56.7424',
 'distance': 380,
 'radius': 16.5,
 'mass': 24.0,
 'teff': 29500}

## Demonstration of Information Object

In [11]:
from McManus_2 import Information as info

In [12]:
#create instance of information object
inf = info()
inf

Information Object; Source Names: []

In [13]:
#load up some info about 4 stars
#for the moment, the loadstars method loads up these hard coded stars; loadstars returns a dict of the stars so loaded.
sl = inf.LoadStars()
sl

{'Mintaka': Star object: name: Mintaka, ra: 05:32:00.4009, dec: -00:17:56.7424, distance: 380, radius: 16.5, mass: 24.0, teff: 29500,
 'Aldebaran': Star object: name: Aldebaran, ra: 04:35:55.23907, dec: 16:30:33.4885, distance: 20, radius: 45.1, mass: 1.16, teff: 3900,
 'Rigel': Star object: name: Rigel, ra: 05:14:32.27210, dec: -08:12:05.8981, distance: 264, radius: 78.9, mass: 21.0, teff: 12100,
 'Algol': Star object: name: Algol, ra: 03:08:10.13245, dec: 40:57:20.3280, distance: 28, radius: 2.73, mass: 3.17, teff: 13000}

In [14]:
#what are the object types?
type(sl), type(sl['Mintaka'])

(dict, McManus_2.star)

In [15]:
#look at the Mintaka object within s1, it's a star object
sl['Mintaka']

Star object: name: Mintaka, ra: 05:32:00.4009, dec: -00:17:56.7424, distance: 380, radius: 16.5, mass: 24.0, teff: 29500

In [16]:
#extract one of the properties
sl['Mintaka'].mass

24.0

In [17]:
#for which stars do we have info?
inf.SourceNames()

['Mintaka', 'Aldebaran', 'Rigel', 'Algol']